@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT328&display=swap');

html {
  font-size: 16px; /* 1rem = 16px */
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem; /* This will be 16px */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  text-align: inherit;
  text-align-last: auto;
  text-decoration: none;
  text-decoration-color: inherit;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

button {
  margin: 0;
  padding: 0;
  outline: none;
}

/* start comment css variables and components UI */
.dark {
  background-color: rgb(16, 28, 45);
}

.loading {
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  text-align: center;
  background-color: rgba(50, 50, 50, 0.1);
}

.marginCenter {
  margin: auto;
}

/* end comment css variables */

/* start Home page */
.headerFrame {
  height: 10vh;
  padding: 1rem 2rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
}

.header {
  line-height: 3.75rem; /* Equivalent to 60px */
}

.headerLeft {
  font-weight: bold;
}

.headerRight {
  /* Customize as needed */
}

.headerRight button {
  background-color: #f44336;
  color: white;
  padding: 0.3125rem 0.625rem; /* Equivalent to 5px 10px */
  border: none;
  border-radius: 0.3125rem; /* Equivalent to 5px */
  cursor: pointer;
}

.displayWindow {
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: center;
  margin-bottom: 30vh; /* Adjust based on footer height */
  padding: 0;
  box-sizing: border-box;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.625rem 0.625rem; /* Equivalent to 10px 10px */
}

.footerNavMenu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footerNavMenu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.25rem; /* Equivalent to 20px */
  text-decoration: none;
  color: white;
}

.footerNavMenu a p {
  margin: 0;
}

.footerCopyright {
  text-align: center;
  font-size: 0.625rem; /* Equivalent to 10px */
  color: #fff;
}

/* end Home page */

/* Start Login page */
/* General styles for the login page */
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem; /* Equivalent to 20px */
  min-height: 100vh;
  background-color: #f0f2f5;
}

/* Container for the login form and announcement */
.login-page-info {
  width: 100%;
  max-width: 25rem; /* Equivalent to 400px */
  background-color: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Equivalent to 4px 8px */
  border-radius: 0.5rem; /* Equivalent to 8px */
  padding: 1.875rem; /* Equivalent to 30px */
  margin-bottom: 1.25rem; /* Equivalent to 20px */
}

/* Styles for the announcement text */
.login_announcement {
  text-align: center;
  margin-bottom: 1.25rem; /* Equivalent to 20px */
}

.login_announcement h3 {
  font-size: 1.5rem; /* 1.5 x 16px = 24px */
  color: #333;
}

/* Styles for the login form box */
.login_box {
  width: 100%;
}

.login_box .ant-form-item {
  margin-bottom: 0.9375rem; /* Equivalent to 15px */
}

.login_box .ant-form-item-label {
  padding-bottom: 0.3125rem; /* Equivalent to 5px */
  font-weight: bold;
}

.login_box .ant-form-item-control-input-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_box button[type="submit"] {
  width: 100%;
  margin-bottom: 0.625rem; /* Equivalent to 10px */
}

/* Styles for the "Forget Password?" link */
.login_box button[type="link"] {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  display: block;
}

/* Footer text */
.login_box p {
  text-align: center;
  color: #888;
  margin-top: 1.25rem; /* Equivalent to 20px */
  font-size: 0.875rem; /* Equivalent to 14px */
}

/* Styles for the banner image */
.login-page-image {
  margin-top: 1.25rem; /* Equivalent to 20px */
  width: 100%;
  max-width: 37.5rem; /* Equivalent to 600px */
  text-align: center;
}

.checkout-button-frame{
  display: flex;
  justify-content: space-around;
  margin-top: 1.25rem; /* Equivalent to 20px */
}

.profileFrame{
  padding: 0.25rem 1.25rem 0.5rem 1.25rem; /* Equivalent to 20px */
}

.profileFrame button{
  width: 100%;
}

/* Responsive styles */
@media (min-width: 768px) {
  #login {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem; /* Equivalent to 40px */
  }

  .login-page-info {
    margin-right: 1.25rem; /* Equivalent to 20px */
    margin-bottom: 0;
    max-width: 25rem; /* Equivalent to 400px */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login_announcement {
    margin-bottom: 1.875rem; /* Equivalent to 30px */
  }

  .login-page-image {
    margin-top: 0;
    max-width: 50%;
  }
}

@media (min-width: 1024px) {
  #login {
    padding: 3.75rem; /* Equivalent to 60px */
  }

  .login-page-info {
    max-width: 25rem; /* Equivalent to 400px */
  }

  .login-page-image {
    max-width: 40%;
  }
}

/* Footer content styles */
.footer-links, .social-links {
  text-align: center;
  margin-top: 0.625rem; /* Equivalent to 10px */
}

.footer-links a, .social-links a {
  color: #555;
  text-decoration: none;
  margin: 0 0.3125rem; /* Equivalent to 5px */
}

.footer-links a:hover, .social-links a:hover {
  text-decoration: underline;
}

/* Start Terms, Policy, Support */
/* General page styles */
.terms-of-service, .privacy-policy, .support-page {
  max-width: 50rem; /* Equivalent to 800px */
  margin: 0 auto;
  padding: 1.25rem; /* Equivalent to 20px */
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  color: #333;
}

h2 {
  color: #fff;
}

p, ul, address {
  color: #555;
}

address {
  font-style: normal;
}

ul {
  list-style-type: disc;
  padding-left: 1.25rem; /* Equivalent to 20px */
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* End Terms, Policy, Support */
